/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.detail-header{
    display: flex;
    align-items: center;
}
.detail-header>*{
    margin-right: 0.5rem;
}
.detail-body{
    display: flex;
    flex-direction: column;
}
.detail-body>.MuiSelect-select{
    padding: 0.25rem;
}

.detail-body-assigned{
    padding: 0.5rem;
    border-radius: 4px;
    border-width: 1px;
    margin-bottom: 0.5rem;
}

.detail-footer{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.detail-button {
    width: 100%;
    margin-bottom: 1rem;
    @media screen and (min-width: 768px) {
        margin-right: 1rem;
        width: fit-content;
    }
}